li,p{word-break: keep-all;}

#searchPage{width: 100%; height: 100%; background: #fff;}
#searchPage>.searchPageHeader{gap: 1.6rem; display: flex;padding: 0.8rem 2.4rem; height: 5.6rem;  align-items: center;}
#searchPage>.searchPageHeader>label{display: block; position: relative; width: 100%;}
#searchPage>.searchPageHeader>label>input{width: 100%;  background: #f5f5f5; padding: 1rem 4.5rem 1rem 1.6rem; border-radius: 4px; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; box-sizing: border-box;}
#searchPage>.searchPageHeader>label>input:focus{border-color: #bdbdbd;}
#searchPage>.searchPageHeader>label>input::placeholder{color: #bdbdbd; font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem;}
#searchPage>.searchPageHeader>label>.inputTextDelete{background: none; display: none; position: absolute; top: 50%; right: 1.2rem; transform: translateY(-50%); width: 2.4rem; height: 2.4rem;}
#searchPage>.searchPageHeader>label>.inputTextDelete>img{width: 100%;}

#twoDepthTab>.categoryTab>.categoryTabWrap>.categoryTabnav{padding: 0 2rem;}
#twoDepthTab>.categoryTab>.categoryTabWrap>.categoryTabcontent>.tab>.categoryTab2Wrap>.categoryTabnav2>ul{padding: 1.6rem 0;}

.popup{display: flex; justify-content: flex-end; padding: 1.6rem 2rem 1.4rem 2rem;}
.popup>button{background: none;}
.popup>.sort{display: flex; padding-right: 1rem; position: relative; align-items: center;}
.popup>.sort::after{content: ""; position: absolute; top: 50%; right: 0; transform: translateY(-50%); height: 1.2rem; width: 1px; background: #e2e2e2;}
.popup>.sort>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969; margin-right: 4px;}
.popup>.sort>img{}
.popup>.filter{position: relative; display: flex; padding-left: 1rem;}
.popup>.filter.on{}
.popup>.filter>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969; margin-right: 4px;}
.popup>.filter.on>span{position: absolute; top: 0; right: 0; width: 8px; height: 8px; background: url(../img/filter_red_check.png) red no-repeat center; border-radius: 50%;}
.popup>.filter>img{}

#sort_popup{}
#sort_popup>.sort_body{z-index: 998; width: 100%; height: 100%;  position: fixed; left: 0; top: 0;  background: none; display: none;}
#sort_popup>.sort_container{z-index: 999; width: 100%; height: auto; position: fixed; bottom: -99rem; background: #fff; border-radius: 1.2rem 1.6rem 0 0; transition: .5s;}
#sort_popup>.sort_container.fixed{transform: translateY(-99rem); transition: .5s;}
#sort_popup>.sort_container>.touch_line_wrap{width: 100%; height: 2.4rem;}
#sort_popup>.sort_container>.touch_line_wrap>.touch_line{ width: 5.6rem; height: 5px; position: absolute; top: 10px; left: 50%; transform: translateX(-50%); background: #e2e2e2; border-radius: 10rem;}
#sort_popup>.sort_container>ul{}
#sort_popup>.sort_container>ul>li{}
#sort_popup>.sort_container>ul>li>.check_list{display: flex; padding: 1.4rem 2rem;}
#sort_popup>.sort_container>ul>li>.check_list>p{font-family: 'Pretendard'; font-weight: 400; font-size: 1.6rem; line-height: 2.4rem; color: #696969; margin-left: 1rem; }
#sort_popup>.sort_container>ul>li.active>.check_list>p{color: #222;}
#sort_popup>.sort_container>ul>li>.check_list>.check_img{width: 2.4rem; height: 2.4rem; background: url(../img/ic-check.png);}
#sort_popup>.sort_container>ul>li.active>.check_list>.check_img{width: 2.4rem; height: 2.4rem; background: url(../img/ic-check_active.png);}

#filter_popup{}
#filter_popup>.filter_body{z-index: 998; width: 100%; height: 100%;  position: fixed; left: 0; top: 0;  background: none; display: none;}
#filter_popup>.filter_container{z-index: 999; width: 100%; height: auto; position: fixed; bottom: -99rem; background: #fff; border-radius: 1.2rem 1.6rem 0 0; transition: .5s; padding-bottom: 2rem;}
#filter_popup>.filter_container.fixed{transform: translateY(-99rem); transition: .5s;}
#filter_popup>.filter_container>.filter_container_top{display: flex; justify-content: space-between; padding:  2.4rem 2rem 1.6rem 2rem;}
#filter_popup>.filter_container>.filter_container_top>h3{font-family: 'Pretendard'; font-weight: 600; font-size: 1.8rem; line-height: 2.4rem; color: #222;}

.filter_category_tab{}
.filter_category_tab>.filter_category_tab_wrap{}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav{}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav>ul{display: flex; padding: 0 2rem; border-bottom: 1px solid #f5f5f5;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav>ul>li{}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav>ul>li:not(:first-child){margin-left: 1.6rem;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav>ul>li>a{position: relative;  display: block; padding: 1rem 0.6rem 0.8rem 0.6rem; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #bdbdbd; text-align: center;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav>ul>li>a.on{color: #222; border-bottom: 2px solid #222;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav>ul>li.on>a{padding: 1rem 1rem 0.8rem 0.6rem;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabnav>ul>li.on>a::after{content: ""; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 50%; background: #e31616;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent{height: auto;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>.tab{padding: 0 2.4rem 4rem 2.4rem;} 
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab01>ul{display: flex; flex-wrap: wrap;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab01>ul>li{width: 50%;}

.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul{padding-top: 2.4rem; display: flex; flex-wrap: wrap; gap: 2.4rem 2.8rem;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>li{position: relative;float: left;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>li:first-child{margin-left: 0;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>li>span{position: relative; left: 50%; transform: translateX(-50%); display: block; width: 2.8rem; height: 2.8rem; border-radius: 50%;  text-align: center;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>li>span::after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 3rem; height: 3rem; }
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>li.on>span::after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 3rem; height: 3rem; border: 1px solid #222; border-radius: 50%;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.pink>span{background: #ffdddd;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.lightPurple>span{background: #e091e1;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.red>span{background: #db2828;} 
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.beige>span{background: #fcf2d9;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.yellow>span{background: #ffcc4a;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.orange>span{background: #e8701a;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.brown>span{background: #855b29;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.lightGreen>span{background: #aad88e;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.darkGreen>span{background: #3f8234;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.lightBlue>span{background: #c8e8ff;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.blue>span{background: #0085ff;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.navy>span{background: #00386c;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.lightGrey>span{background: #e2e2e2;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.grey>span{background: #a9a9a9;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.black>span{background: #000;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab02>ul>.white>span{background: #fff; border: 1px solid #e2e2e2; width: 2.6rem; height: 2.6rem;}

.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab03{}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab03>ul{padding-top: 2.4rem; display: flex; flex-wrap: wrap;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab03>ul>li{width: 50%;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab03>ul>li:nth-child(n+3){margin-top: 2rem;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab03>ul>li>label{display: block; width: 12.9rem;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab03>ul>li>label>input{}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab03>ul>li>label>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969;}

.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab04{}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab04>ul{ display: flex; flex-wrap: wrap;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab04>ul>li{width: 50%;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab04>ul>li>label{display: block; width: 12.9rem;}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab04>ul>li>label>input{}
.filter_category_tab>.filter_category_tab_wrap>.category_tabcontent>#tab04>ul>li>label>span{font-family: 'Pretendard'; font-weight: 400; font-size: 1.4rem; line-height: 2rem; color: #696969;}

select {
    width: 5.2rem;
    /* display: inline-block; */
    appearance: none;
    font-family: 'Pretendard';
    font-size: 1.6rem;
    font-weight: 500;
    color: #222;
    /* text-align: right; */
    background: url('../img/ic-down-arrow.png') no-repeat  100% center;
    
  }

select:focus{
    outline: none;
}

select option{
    width: 30px;
    background: none;
    /* text-align: center; */
}


#man_tab{display: none;}

.tab>ul>.inputWrap{display: none;}
.tab>ul>.inputWrap.show{display: block;}
.tab>ul>.inputWrap>div{margin-top: 2.4rem; display: flex; gap: 8px; box-sizing: border-box; align-items: center;}
.tab>ul>.inputWrap>div>label{position: relative;}
.tab>ul>.inputWrap>div>label>input{display: block;  border: 1px solid #e2e2e2; padding: 1.1rem 4.2rem 1.1rem 1.6rem; border-radius: 4px; box-sizing: border-box; width: 100%; color: #222; font-family: 'Pretendard'; font-size: 1.6rem; line-height: 2.4rem;}
.tab>ul>.inputWrap>div>label>input:focus{border-color: #bdbdbd;}
.tab>ul>.inputWrap>div>label>input::placeholder{font-family: 'Pretendard'; font-size: 1.6rem; color: #bdbdbd;}
.tab>ul>.inputWrap>div>label>span{position: absolute; right: 1.6rem; top: 50%; transform: translateY(-50%); font-family: 'Pretendard'; font-weight: 600; font-size: 1.4rem; line-height: 2.4rem; color: #696969;}
.tab>ul>.inputWrap>div>span{font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; color: #222;}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + span,
[type="radio"]:not(:checked) + span
{
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 1.4rem;
  position: relative;
  padding-left: 32px; 
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #696969;
  margin-top: 2.4rem;
}
[type="radio"]:checked + span{
    color: #222 ;
}
[type="radio"]:checked + span:before,
[type="radio"]:not(:checked) + span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border:1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + span:before {
    border:1px solid #222;
    border-radius: 100%;
}
[type="radio"]:checked + span:after,
[type="radio"]:not(:checked) + span:after {
  content: '';
  width:14px;
  height:14px;
  background: #222;
  position: absolute;
  top:5px;
  left:5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + span:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + span:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


.button_wrap{ padding: 0 2rem; filter: drop-shadow(0px -1px 2px rgba(0, 0, 0, 0.04)); height: 54px; }
.button_wrap>.button_container{margin: 0 auto; height: 5.2rem; width: 32rem;}
.button_wrap>.button_container>.reset{background: none; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 2.4rem; text-align: center; color: #222; width: 10.2rem; height: 5.2rem; background: #fff; border: 1px solid #e2e2e2; border-radius: 4px; float: left;}
.button_wrap>.button_container>a{display: block; font-family: 'Pretendard'; font-weight: 500; font-size: 1.6rem; line-height: 5.2rem; text-align: center; color: #fff; width: 20.6rem; height: 5.2rem; background: #222; border-radius: 4px; margin-left: 1rem; float: left;}

input#check_btn{
    display:none;
    }
  
  input#check_btn  > span{
    vertical-align: middle;
    padding-left: 5px;
   }
  
  /* label:before에 체크하기 전 상태 CSS */
  input#check_btn + span:before{
    content:"";
    display:inline-block;
    width:18px;
    height:18px;
    border:1px solid #e2e2e2;
    border-radius: 2px;
    vertical-align:middle;
    margin-right: 1rem;
    }
    
  /* label:before에 체크 된 상태 CSS */  
  input#check_btn:checked + span:before{
    content:"";
    background-color:#222;
    border-color:#222;
    background-image: url(../img/check_btn.png);
    background-repeat: no-repeat;
    background-position: 50%;
    }

    input.option_btn{
      display:none;
      }   